<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="http://localhost:5000/css/root.css"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:5000/css/homepage.css"/>

    <title>Elixir : Kidney Swapping</title>
</head>
<body>
    <div id="app">
        <div class="header">
            <div class="logo-container">
                <p class="logo-text">ELI<span style="color:red; font-size: 60px;">X</span>IR</p>
            </div>
            {{#if fname}}
            <div class="dashboard-container">
                <div class="name-wrapper">Hi {{fname}}</div>
                <a href="http://localhost:5000/dashboard/{{fname}}/{{email}}" target="_self"><div class="open-dashboard">Dashboard</div></a>
                <a href="http://localhost:5000/"><div class="sign-out">Sign Out</div></a>
            </div>
            {{else}}
            <div class="signin-container">
                <a href="http://localhost:5000/login" target="_self"><div class="sign-in"><span>Log In</span></div></a>
                <a href="http://localhost:5000/signup" target="_self"><div class="sign-up"><span>Sign Up</span></div></a>
            </div>
            {{/if}}
        </div>
        <div class="body-wrapper">
            <div class="para-1">
                <span>What We Are Doing</span>
                <p>We are trying to connect families that are unable to donate kidney within the family due to incompatibility but can donate to another family that benefits them as well. <b>KIDNEY SWAPPING.</b> In India, Organ Swapping Registries are underdeveloped, even when 1 in 10 patients in India need a life-saving transplant. We are trying to BRIDGE THE GAP.</p>
            </div>
            <div class="img-1"><img src="http://localhost:5000/imgs/swapping.jpg" height="300px" width="300px"/></div>
        </div>
    </div>
</body>
</html>