<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="http://localhost:5000/css/root.css"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:5000/css/homepage.css"/>

    <title>Elixir : Kidney Swapping</title>
</head>
<body>
    <div id="app">
        <div class="header">
            <div class="logo-container">
                <p class="logo-text">ELI<span style="color:red; font-size: 60px;">X</span>IR</p>
            </div>
            {{#if fname}}
            <div class="dashboard-container">
                <div class="name-wrapper">Hi {{fname}}</div>
                <div class="open-dashboard">Dashboard</div>
                <div class="sign-out">Sign Out</div>
            </div>
            {{else}}
            <div class="signin-container">
                <a href="http://localhost:5000/login" target="_self"><div class="sign-in"><span>Log In</span></div></a>
                <a href="http://localhost:5000/signup" target="_self"><div class="sign-up"><span>Sign Up</span></div></a>
            </div>
            {{/if}}
        </div>
        <div class="body-wrapper">
            <div class="para-1">
                <span>What We Are Doing</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium doloribus quis odit cumque autem, iusto nostrum alias ipsum optio non maiores porro neque iure, similique minima voluptate impedit obcaecati officiis!</p>
            </div>
            <div class="img-1"></div>
        </div>
    </div>
</body>
</html>