<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up With Elixir</title>
</head>
<body>


    <form id="signup-form">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required/>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required/>
        <label for="email_id">Email ID:</label>
        <input type="text" id="email_id" name="email_id" required/>
        <label for="pwd">Password:</label>
        <input type="password" id="pwd" name="pwd" required/>
        <label for="re_pwd">Retype Password:</label>
        <input type="password" id="re_pwd" name="re_pwd" required />
        <div id="error-msg"></div>
        <button type="submit" >Submit</button>
    </form>
    <script src="js/signup.js"></script>
</body>
</html>