<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>


    <form id="signup-form">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required/>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required/>
        <label for="email_id">Email ID:</label>
        <input type="text" id="email_id" name="email_id" required/>
        <label for="pwd">Password:</label>
        <input type="password" id="pwd" name="pwd" required/>
        <label for="re_pwd">Retype Password:</label>
        <input type="password" id="re_pwd" name="re_pwd" required />
        <div id="error-msg"></div>
        <div id="response"></div>
        <button type="submit" >Submit</button>
    </form>
    <script>
        let signupForm = document.getElementById("signup-form");
        let ermsg = document.getElementById("error-msg");


        signupForm.addEventListener('submit', (e) => {
            e.preventDefault();
            console.log(this);
            const formData = new URLSearchParams();
            formData.append('first_name', document.getElementById("first_name").value);
            formData.append('last_name', document.getElementById("last_name").value);
            formData.append('email_id', document.getElementById("email_id").value);
            formData.append('pwd', document.getElementById("pwd").value);
            
            //TODO
            //password verify
            if(re_pwd.value != pwd.value){
                ermsg.innerHTML += `<span class="error-red">Password Not Matching</span>`;
                return;
            }

            fetch("http://localhost:5000/user/newUser", {
                method: "POST",
                body: formData.toString(),
                headers: {
                    'Content-Type':'application/x-www-form-urlencoded'
                }
            }).then((res) => {
                document.getElementById("first_name").value = "";
                document.getElementById("last_name").value = "";
                document.getElementById("email_id").value = "";
                document.getElementById("pwd").value = "";
                document.getElementById("re_pwd").value = "";
                document.getElementById("response").innerHTML = `<span>${res.body}</span>`;
            }).catch((err) => {
                console.log(err)
            });
        });
    </script>
</body>
</html>